*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(78, 160, 105);
    padding: 30px;
    padding-top: 5px;
}
main{
    box-shadow: 0px 0px 10px rgba(52, 73, 59, 0.548);
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    border: 5px solid rgb(67, 110, 81);
    height: 100%;
    background-color: white;
    padding: 50px;
}
h1{
    text-align: center;
    color: white;
    font-size: 50px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.267);
    
}
div{
    display: block;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(78, 160, 105);
}
#tit{
    font-size: 60px;
    -webkit-text-stroke: 1px rgb(67, 110, 81);

    font-family: Arial, Helvetica, sans-serif; color: rgb(255, 255, 255);
}
#destaque{
    border: 5px solid rgb(67, 110, 81);
}
#caixa{
    padding: 10px;
    color: white;
    font-size: 25px;

}
#pergunta{
    text-align: center;
    font-size: 30px;

}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
input{
    width: 40px;
}
label{
    color: black;
}
#item{
    padding: 4px;
    display: inline-block;
    background-color: white;
}
@media (max-width: 730px){
    body{
        padding: 15px;
    }
    main{
        padding: 5px;
    }
    h1{
        font-size: 30px;
    }
}
@media (max-width: 580px){
    body{
        padding: 15px;
    }
    main{
        padding: 10px;
    }
    h1{
        font-size: 30px;
    }
}

@media (max-width: 379px){
    h1{
        font-size: 20px;
    }
    #pergunta{
        font-size: 20px;
    }
    #item{
        font-size: 15px;
    }

}
@media (max-width: 220px){
    body{
        padding: 10px;
    }
    main{
        padding: 5px;
        font-size: 10px;
    }
    #tit{
        font-size: 30px;
        margin-bottom: 0px;
    }
    h1{
        font-size: 20px;
    }
    #pergunta{
        font-size: 14px;
    }
    #item{
        font-size: 12px;
    }
}